/*****************************
****************************** To Relier Health *******************************
												*******************************/


body{
	margin: 0px;
	padding: 0px;
}
.common-gap{
	padding: 50px 0px 0px 0px;
}
.appointment-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.single-appointment-section span {
    text-align: center;
    padding: 9px 0px;
    display: inline-block;
    font-size: 20px;
}
.single-appointment-section {
    padding: 10px 10px;
    background: #fff;
    margin: 10px 10px;
    max-width: 200px;
    width: 100%;
    transition: 0.5s;
    text-align: center;
}
.single-appointment-section:hover,.single-appointment-section:focus{
	box-shadow: 0 0 10px rgb(0 0 0 / 12%);
	transition: 0.5s;
	background-color: #262d47;
}
.single-appointment-section:hover.single-appointment-section span,.single-appointment-section:hover.single-appointment-section h6{
	color: #fff;
	transition: 0.5s ease-in-out;
}
.single-appointment-section img {
    width: auto;
    height: 90px;
    background: #ffff;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 15px;
}
.show-entry label{
    padding: 0px 8px 0px 0px;
}
.custom-field{
    padding: 8px 10px;
    border: 1px solid #ccc;
    max-width: 100px;
}

@media only screen and (max-width: 992px) {
.single-appointment-section {
    max-width: 100%;
}
}